html,
body,
#mapid {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgb(241, 238, 238);
}

.navbar {
  background-color: rgb(83, 83, 83);
}

table {
  border: 0;
}

th {
  background-color: rgb(172, 173, 173);
  text-align: left;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.sidebar { 
  position: absolute; 
  width: 120px;
  height: 100%; 
  background-color: rgb(31, 31, 31);
}

.little-icon {
  width: 43px; 
  border: 2px solid black; 
  background-color: rgb(247, 245, 245); 
  padding: 2px; 
  border-radius: 7px;
}