body {
  background-color:#2f3133;
}

#mapid {
  width: 100%;
  height: 425px;
  position: relative;
  margin:0;
  padding:0;
  color:rgb(31, 31, 31) 
}

.navbar {
  background-color: #182023;
}

.top-bar {
  border-bottom: 2px solid #0c0c0c;
}

main {
  padding-top: 80px;
  padding-bottom: 60px;
}

.footer-bar {
  background-color: #182023;
  text-align: center; 
  display:inline-block; 
  float: none; 
  vertical-align: top;
  border-top: 2px solid #0c0c0c;
}

table {
  border: 0;
}

th {
  background-color: #b3b5b6;
  text-align: left;
}

tr:nth-child(odd) {
  background-color: #2f3133;
}

.leaflet-popup-content-wrapper, .leaflet-popup.tip {
  background-color: #182023;
  color: #b3b5b6;
  border: 2px solid #b3b5b6;
}

.sidebar {  
  width: 130px;
  height: 100%; 
  background-color: rgb(31, 31, 31);
  background-image: url(../images/city_lights.jpg);
  position: fixed;
  padding-top: 65px;
  border-right: 2px solid #0c0c0c;
}

.little-icon {
  width: 43px; 
  border: 2px solid 0c0c0c; 
  background-color: #e3e3e4; 
  padding: 2px; 
  border-radius: 7px;
}

hr {
  border-top: 1px dotted rgb(172, 173, 173);
}

.main-element {
  background-color: #182023;
  border-radius: 7px;
  padding: 0;
}

#chartContainer {
  position: relative; 
  width: 100%; 
  height: 300px;
}

.top-padded {
  padding-top: 20px;
}

.wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 95%;
}

.table-holder {
  padding-right: 20px;
  position: relative;
}

.dataTables_wrapper .dataTables_paginate .paginate_button, .ellipsis {
  color: #b3b5b6 !important;
}

.dataTables_wrapper .dataTables_length select {
  color: #b3b5b6 !important;
}

.dataTables_wrapper .dataTables_filter input {
  color: #b3b5b6 !important;
}

table.dataTable tbody tr.selected {
  background-color: #77C6FF;
}

label {
  color: #b3b5b6 !important;
}

.leaflet-control-layers-toggle{ 
  color:#000 ;
}

.about-page {
  color: #b3b5b6;
}