{% extends "base.html" %}

{% block main_content %}
    <div class="container-fluid about-page">
        <div class="row">
            <div class="col-md-3 main-element about-def" style="padding: 10px; display: inline-block">
                <h1>e·mer·gence</h2>
                <h3>/əˈmərjəns/</h5>    
                <span>noun : the process of coming into being, or of becoming important or prominent.</span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-8">
                <hr>
                <h4>What is MetroGnomics?</h4>
                <span>
                    MetroGnomics is a data analysis tool to help forecast certain emergent conditions for metropolitan areas. 
                    An analytical model was used to project GDP, population, business applications, and various employment measures into the future. 
                    It uses historical data from government sources, and runs them through to produce a ranking score. 
                </span>
                <hr>
                <h4>What data sources are used?</h4>
                <span>
                    Data was resourced from three government agencies:<br>
                    &nbsp;&nbsp;- US Census Bureau<br>
                    &nbsp;&nbsp;- US Bureau of Labor Statistics<br>
                    &nbsp;&nbsp;- US Bureau of Economic Analysis
                </span>
                <hr>
                <h4>What makes a city emergent?</h4>
                <span>
                     The rate at which an area is growing will be reflected in economic statistics like GDP and business applications, and also in demographic 
                     statistics like population. Rate of change was used for applicable measures so as to scale data between larger and smaller metro areas.
                </span>
                <hr>
                <h4>What can MetroGnomics do for you?</h4>
                <span>
                    Whether you are making a business decision such as site selection, or just looking to pick a new home town, everyone could use a little direction 
                    to find the optimal location. From demographics to economic incentives, we can help guide you through the entire process of setting up shop 
                    in a new locale.
                </span>
            </div>
        </div>
    </div>

{% endblock %}