<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- sort tables-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    
    <!-- Use this to set the favicon, cuz you gnome you want to -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/garden-gnome-hands.png')}}">
    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- Chart js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <!-- Jay-Kweery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <title>{{ title }}</title>
</head>

<body>
    <nav class="navbar fixed-top fixed-left navbar-expand-sm navbar-dark top-bar">
        <a href="/index" class="navbar-brand"><img src="{{ url_for('static', filename='images/MetroGnomics_small.png') }}" class="img-fluid" alt="MetroGnomes Logo"></a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarRightMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarRightMenu">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="https://github.com/penlow99/FinalProject_BusinessFormation" class="nav-link" target="_blank">
                        <img src="{{ url_for('static', filename='images/GitHub-Mark-64px.png') }}" class="img-fluid little-icon" alt="GitHub Repository">
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://docs.google.com/presentation/d/1hDRkBLbo_e6D-0roOfvdUls_1-utlWcHfgddTy63qJM/edit?usp=sharing" class="nav-link" target="_blank">
                        <img src="{{ url_for('static', filename='images/google_slides.png') }}" class="img-fluid little-icon" alt="Google Slides Presentation">
                    </a>
                </li>             
            </ul>
        </div> 
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav class="sidebar navbar-dark d-none d-md-block">
                <div class="sidebar-sticky">
                    <div class="row justify-content-center">
                        <ul class="navbar-nav">
                            <hr>
                            <li class="nav-item">
                                <a href="/index" class="nav-link" id="index">Dashboard</a>
                                <hr>
                            </li>
                            <li class="nav-item">
                                <a href="/comparison" class="nav-link" id="comparison">Comparison</a>
                                <hr>
                            </li>
                            <li class="nav-item">
                                <a href="/table" class="nav-link" id="table">Forecasts</a>
                                <hr>
                            </li>
                            <li class="nav-item">
                                <a href="/about" class="nav-link" id="about">About</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <main role="main" class="col-lg-11 col-md-9 col-sm-7 ml-md-auto main">
                <br>
                        {% block main_content %}

                        {% endblock %}
            </main>
        </div>
    </div>
    <footer class="footer">
        <div class="navbar fixed-bottom navbar-dark footer-bar">
            <span class="text-muted">powered by the fine folk at MetroGnomes</span>
        </div>
    </footer>
    
</body>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
<script>
    //sets the 'active' link in the sidebar
    function setActiveLink(){
        var pages = ['index','table','comparison','about'];
        arrayLength = pages.length;
        var currentPageArray = document.location.href.split('/');
        var currentPage = currentPageArray[currentPageArray.length - 1];
        
        for (var i = 0; i < arrayLength; i++) {
            document.getElementById(pages[i]).style["fontWeight"] = 'normal';
        }

        document.getElementById(currentPage).style.fontWeight = 'bolder';
        document.getElementById(currentPage).style.color = '#b3b5b6';
    }

    window.onload = setActiveLink();
</script>
</html>