{% extends "base.html" %}

{% block main_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div id="chartContainer" class="col-md-12 main-element">
                        <canvas id="top10_BarChart"></canvas>
                    </div>
                </div>
                <div class="row top-padded">
                    <div class="col-md-12 main-element d-flex justify-content-center">
                        <div class="wrapper">
                            <div id="mapid"></div>
                        </div>     
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-5">
                        <div class="col-md-12 main-element">
                            Other stuff here
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="col-md-12 main-element d-flex justify-content-center align-items-center">
                            <img class="img-fluid rounded img-wrapper" src="{{ url_for('static', filename='images/infographic.png') }}">        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var data_dict = {{ data_table|tojson }}
        var top10 = {{ top10|safe }}
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.0/chroma.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/logic.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bar_chart.js') }}"></script>
{% endblock %}



